<h1>ログイン</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>

  <%= form.label :email ,User.human_attribute_name(:email) %>
  <%= form.email_field :email %>

  <%= form.label :password ,User.human_attribute_name(:password) %>
  <%= form.password_field :password %>

  <%= form.submit "ログイン"%>
<% end %>
