<h3>以下の内容で投稿しますか？</h3>

<%= form_with(model: @picture, local: true, url: pictures_path) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>

  <p>タイトル:<%= @picture.title %></p>
  <p>内容:<%= @picture.content %></p>
  <p>画像:</p>
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>

  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
