<p>
  <strong>タイトル:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @picture.content %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @picture.image.url if @picture.image? %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @picture.user.name %>
</p>

<% if @picture.user == current_user %>
  <%= link_to '編集', edit_picture_path(@picture) %> |
<% end %>
<%= link_to '一覧に戻る', pictures_path %>
